    # ========== SYSTEM SETUP ==========
- name: Update apt cache and install basic packages
  apt:
   update_cache: yes
   cache_valid_time: 3600
   pkg:
    - python3
    - python3-pip
    - python3-venv
    - postgresql
    - postgresql-contrib
    - libpq-dev
    - nginx
    - curl
    - git
    - tree
    - virtualenv

- name: Install system dependencies for Python packages
  apt:
   pkg:
    - build-essential
    - python3-dev
    - libjpeg-dev
    - libfreetype6-dev
    - zlib1g-dev
    - libtiff5-dev
    - liblcms2-dev
    - libwebp-dev
    - tcl8.6-dev
    - tk8.6-dev
    - libharfbuzz-dev
    - libfribidi-dev
    - libxcb1-dev
   state: present

- name: Ensure PostgreSQL is started and enabled
  systemd:
   name: postgresql
   state: started
   enabled: yes

- name: Create PostgreSQL database using shell
  become: yes
  become_user: postgres
  command:
   cmd: "createdb -E UTF8 -T template0 {{ db_name }}"
   creates: "/var/lib/postgresql/*/main/base/{{ db_name }}"

- name: Create PostgreSQL user using shell
  become: yes
  become_user: postgres
  command:
   cmd: "psql -c \"CREATE USER {{ db_user }} WITH PASSWORD '{{ db_password }}' CREATEDB;\""
   creates: "/var/lib/postgresql/*/main/pg_authid/{{ db_user }}"

- name: Grant privileges to user
  become: yes
  become_user: postgres
  command:
   cmd: "psql -c \"GRANT ALL PRIVILEGES ON DATABASE {{ db_name }} TO {{ db_user }};\""