bind = '0.0.0.0:8000'
workers = 3
user = '{{ django_user }}'
group = '{{ django_user }}'
pythonpath = '{{ project_path }}'
chdir = '{{ project_path }}'
module = '{{ django_project }}.wsgi:application'