- name: install php-fpm
  apt:
    name:
      - php-fpm
      - php-mysqlnd
    state: present


- name: configure php-fpm
  template: src={{ item.src }} dest={{ item.dest }}
  with_items:
    - { src: 'php-fpm.conf.j2', dest: '/etc/php/8.3/fpm/php-fpm.conf' }
    - { src: 'www.conf.j2', dest: '/etc/php/8.3/fpm/conf.d/www.conf' }
  notify: restart php-fpm


- name: create run folder
  file:
    path: /run/php-fpm
    owner: root
    group: root
    mode: 0755
    state: directory


- name: create log folder
  file:
    path: /var/log/php-fpm
    owner: root
    group: root
    mode: 0755
    state: directory


- name: start and enable service
  systemd:
    name:  php8.3-fpm
    state: started
    enabled: yes